h1 {
  text-align: center;
  font-family: 'Open Sans Condensed', sans-serif;
}

h3 {
  color: rgba(49,167,169,1);
}

 img {
  display: block;
  margin: auto;
  border-radius: 10px;
 }

 nav {
  text-align: center;
 }

div
 {
  /*border: 1px solid red;*/
  margin: 0 auto;
  text-align: center;
  list-style-position: inside;
 }

 ul, ol {
  padding: 0;
 }
